<% layout('layouts/boilerplate')%>
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT " method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" class="form-control" name="campground[title]"
                    value="<%=campground.title%>">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" class="form-control" name="campground[location]"
                    value="<%=campground.location%>">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input id="price" type="number" step=".01" class="form-control"
                        aria-label="Amount (to the nearest dollar)" placeholder="0.00" aria-describedby="price-label"
                        name="campground[price]" value="<%=campground.price%>">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" id="description" class="form-control"
                        name="campground[description]"><%=campground.description%></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input type="url" id="image" class="form-control" name="campground[image]"
                        value="<%=campground.image%>">
                </div>
                <button class="btn btn-info mb-3">Update Campground</button>
        </form>
        <footer><a class="btn btn-dark" href="/campgrounds/<%=campground._id%>">Back to Campground</a></footer>
    </div>